/** @format */

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  margin-block: 1.2em;
  background-color: transparent;
  border-radius: 1.2em;
}

::-webkit-scrollbar-thumb {
  transition: all 0.8s;
  border-radius: 1.2em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--white);
}

::-webkit-scrollbar:hover {
  background: rgba(228, 183, 236, 0.712);
}
